.navbar {
  background-color: #0a2644;
}

.nav {
  margin: 5px;
  color: white;
}

.cardTitle {
  height: 45px;
  color: white;
}

.cardText {
  height: 100px;
  color: white;
}

.cardButton {
  width: 200px;
  background-color: #0a2644;
  border: none;
}

.candidateImg {
  height: 150px;
  width: auto;
  padding: 10px;
}

@media (min-width: 320px) {
  .candidateImg {
    height: 285px;
    width: auto;
    padding: 10px;
  }
}

@media (min-width: 400px) {
  .candidateImg {
    height: 375px;
    width: auto;
    padding: 10px;
  }
}

@media (min-width: 500px) {
  .candidateImg {
    height: 150px;
    width: auto;
    padding: 10px;
  }
}

.landingCards {
  background-color: #333c47;
  color: "white";
}
